#title {
    font-size: em;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;

}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #87868a;
    color: white;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

  footer{
    background-image: url('BCK5.png');
    background-size:cover;
    text-align: center;
    font-size: larger;
    font-weight: 550;
    font-style: italic;
    color: white;
    line-height: 800%;
}